input[type="text"] {
  border: none;
  border-bottom: 1px solid #eee;
  margin-left: 3px;
  text-align: center;
  transition: .3s all ease-in-out;
}

input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid #00d66b;
}